.aboutTable {
  border: none;
  width: initial;
}
.aboutTable tbody {
  border: none;
  background-color: #fff;
}
.aboutTable td{
  border: none;
  background-color: #fff;
}
.aboutTable .aboutTableTime {
}
.aboutTable .aboutTableInfo {
  padding-top: 0;
}
